.scroll-stack-container {
  position: relative;
  width: 100%;
  padding: 20vh 2rem 30rem;
}

.scroll-stack-card {
  position: relative;
  transform-origin: top center;
  will-change: transform, filter;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
  height: 20rem;
  width: 100%;
  margin: 30px 0;
  padding: 3rem;
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.05);
}